<div class="container-fluid mt-5" style="padding-top: 0px;">
    <a href="https://www.mcdonalds.rs/" target="blank">
        <div
            style="width: 160px; height: 600px; color: #fff; line-height: 600px; text-align: center; position: absolute; top: 150px; left: 80px; background-image: url('../../assets/images/ad1-web.gif');">
        </div>
    </a>

    <a href="https://www.corkairport.com/" target="blank">
        <div
            style="width: 160px; height: 600px; color: #fff; line-height: 600px; text-align: center; position: absolute; top: 150px; right: 80px; background-image: url('../../assets/images/J100-web.gif');">
        </div>
    </a>

    <div class="wrapper" style="background-color: white; margin: 135px 300px 0px 300px; padding-top: 20px;">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="blank">
            <div
                style="width: 728px; height: 90px; color: #fff; line-height: 90px; text-align: center; margin: 0 auto; background-image: url('../../assets/images/ezgif.com-gif-maker.gif'); background-position: center; background-size: cover;">
            </div>
        </a>

        <h2
            style="margin-left: 32px; margin-right: 36px; margin-top: 20px; padding: 10px 0px 10px 20px; background: linear-gradient(180deg, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%); color: white;">
            Entertainment Trending</h2>
        <div class="trending" style="padding: 0 20px; overflow-x: auto;">
            <table id="ubijme" style="margin: 0 auto; width: 98%;">
                <tr>
                    <td>
                        <a href="{{entDisplay[0].url}}" id="link" target="blank"
                            style="text-decoration: none; color: black;">
                            <div id="trending-box"
                                style="background-image: url('{{entDisplay[0].urlToImage}}'); background-size: cover; background-position: center;">
                                <div id="text">
                                    <h5 class="mt-2 mb-2">{{entDisplay[0].title}}</h5>
                                    <h6 class="mt-2 mb-2" style="font-weight: bold; color: orange;">
                                        {{entDisplay[0].author}}
                                    </h6>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td>
                        <table id="grid-table" style="margin: 0 auto; width: 100%;">
                            <tr>
                                <td align="center">
                                    <a href="{{entDisplay[1].url}}" id="link" target="blank"
                                        style="text-decoration: none; color: black;">
                                        <div id="trending-box-grid"
                                            style="background-image: url('{{entDisplay[1].urlToImage}}'); background-size: cover; background-position: center;">
                                            <div id="text">
                                                <h6 class="mt-2 mb-2">{{entDisplay[1].title}}</h6>
                                                <h6 style="font-size: smaller; font-weight: bold; color: orange;"
                                                    class="mt-2 mb-2">
                                                    {{entDisplay[1].author}}</h6>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="{{entDisplay[2].url}}" id="link" target="blank"
                                        style="text-decoration: none; color: black;">
                                        <div id="trending-box-grid"
                                            style="background-image: url('{{entDisplay[2].urlToImage}}'); background-size: cover; background-position: center;">
                                            <div id="text">
                                                <h6 class="mt-2 mb-2">{{entDisplay[2].title}}</h6>
                                                <h6 style="font-size: smaller; font-weight: bold; color: orange;"
                                                    class="mt-2 mb-2">
                                                    {{entDisplay[2].author}}</h6>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a href="{{entDisplay[3].url}}" id="link" target="blank"
                                        style="text-decoration: none; color: black;">
                                        <div id="trending-box-grid"
                                            style="background-image: url('{{entDisplay[3].urlToImage}}'); background-size: cover; background-position: center;">
                                            <div id="text">
                                                <h6 class="mt-2 mb-2">{{entDisplay[3].title}}</h6>
                                                <h6 style="font-size: smaller; font-weight: bold; color: orange;"
                                                    class="mt-2 mb-2">
                                                    {{entDisplay[3].author}}</h6>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="{{entDisplay[4].url}}" id="link" target="blank"
                                        style="text-decoration: none; color: black;">
                                        <div id="trending-box-grid"
                                            style="background-image: url('{{entDisplay[4].urlToImage}}'); background-size: cover; background-position: center;">
                                            <div id="text">
                                                <h6 class="mt-2 mb-2">{{entDisplay[4].title}}</h6>
                                                <h6 style="font-size: smaller; font-weight: bold; color: orange;"
                                                    class="mt-2 mb-2">
                                                    {{entDisplay[4].author}}</h6>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>


        <!--Latest News-->
        <h2
            style="margin-left: 32px; margin-right: 34px; margin-top: 20px; padding: 10px 0px 10px 20px; background: linear-gradient(180deg, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%); color: white;">
            Top Headlines</h2>
        <div class="row" style="margin: 0px 20px;">
            <div *ngFor="let d of entDisplay.slice(5)" class="col-lg-3 mt-3 mb-3">
                <a href="{{d.url}}" target="blank" style="text-decoration: none; color: black;">
                    <div id="box" class="test">
                        <img src="{{d.urlToImage}}" alt="Slika" width="100%"
                            onerror="this.src='../assets/images/logo.png';">
                        <!-- Izmenjaj ovo -->
                        <h4 class="mt-2 mb-2" style="padding: 0px 10px;">{{d.title}}</h4>
                        <h6 class="mt-2 mb-2" style="padding: 0px 10px;">{{d.description}}</h6>
                        <table style="margin: 0 10px 10px 10px;">
                            <tr>
                                <td>
                                    <div style="width: 3.5px; height: 20px; background-color: red; margin-right: 7px;">
                                    </div>
                                </td>
                                <td>
                                    <h6 class="mt-2 mb-2" style="font-weight: bold;">{{d.author}}</h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>