<div class="nav">
    <table>
        <tr>
            <td style="background: linear-gradient(180deg, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%); padding-left: 16%;"
                align="left"><a routerLink=""><img src="../assets/images/logo.png" width="150px" alt=""></a>
            </td>

            <td style="background: linear-gradient(180deg, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%);" align="left">
                <angular-weather-widget style="margin: 0; padding: 0;" [APIKEY]="'5e62b81538861ffa41c4f76d43017f6d'"
                    [width]="'fit-content'" [height]="'auto'" [backgroundColor]="'false'" [isBoxShadow]="false"
                    [borderRadius]="'5px'" [locationFontSize]="'15px'" [locationFontColor]="'white'" [status]="false"
                    [statusFontColor]="'#fff'" [statusFontSize]="'18px'" [temperature]="true"
                    [tempratureFontColor]="'white'" [tempratureFontSize]="'15px'" [weatherImages]="true"
                    [weatherImageWidth]="'25px'" [weatherImageHeight]="'25px'" [geoLocation]="true" [location]="''"
                    [isWind]="false" [windFontColor]="'#fff'" [windFontSize]="'17px'" [humidityFontColor]="'#fff'"
                    [humidityFontSize]="'17px'" [isHumidity]="false">
                </angular-weather-widget>
            </td>

            <td style="background: linear-gradient(180deg, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 100%); padding-right: 16%;"
                align="right">
                <div id="wrapper">
                    <input [(ngModel)]="newsHeaderName" type="text" placeholder="Pretraži novosti..."
                        class="search-bar">
                    <button (click)="getNews()" class="btn-search">
                        <fa-icon [icon]="faSearch" transform="shrink-2"></fa-icon>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" colspan="3">
                <ul>
                    <li><a routerLink="">World</a></li>
                    <li><a routerLink="business">Business</a></li>
                    <li><a routerLink="ent">Entertainment</a></li>
                    <li><a routerLink="health">Health</a></li>
                    <li><a routerLink="science">Science</a></li>
                    <li><a routerLink="sport">Sport</a></li>
                    <li><a routerLink="tech">Technology</a></li>
                </ul>
            </td>
        </tr>
    </table>

</div>