<div style="margin-top: 9% !important;" class="container">
  <div class="row">

    <div class="col-lg-3">
      <ul class="list-group">
        <li style="color: black !important;" class="list-group-item d-flex justify-content-between align-items-center">
          Number of Results
          <span class="badge badge-primary badge-pill" style="color: black;">{{newsUpdated.totalResults}}</span>
        </li>
      </ul>
    </div>
    <div class="col-lg-9">
      <div *ngFor="let item of newsUpdated.articles" class="card text-left">
        <img class="card-img-top" src="{{item.urlToImage}}" alt="" onerror="this.src='../assets/images/logo.png';">
        <div class="card-body">
          <h4 class="card-title">{{item.title}}</h4>
          <p class="card-text">{{item.publishedAt | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text btn-more"><a href="{{item.url}}" target="blank">Više</a></p>
        </div>
      </div>
    </div>

  </div>
</div>